env/
__pycache__/
*.py[cod]
*.so
pip-log.txt
pip-delete-this-directory.txt
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
fab_cookie
token.txt
fut_credentials.json
players.csv